$bp-evenGrid-2col: 40em;
$bp-evenGrid-3col: 66em;
$bp-evenGrid-4col: 91em;

$even-grid--base-ratio: 80.27%;
$item-inner-padding: 0.9em;

$active-class: "even-grid--contents_is-active";

.even-grid {
  // Reset list styles
  list-style: none;
  padding: 0;
  margin: 0;

  text-align: center;

  // Contain floats
  width: 100%;
  float: left;

  // The whole list also has a border,
  // to make it even all the way around.
  // Otherwise we'd have to do a bunch of
  // nth-child craziness for every breakpoint
  border: 0.6em solid white;
  background: white;
}

.even-grid--item {
  @include sb-media($bp-evenGrid-2col) {
    // Put items side-by-side, 2 across
    width: 50%;
    float: left;
  }

  @include sb-media($bp-evenGrid-3col) {
    // Put items side-by-side, 3 across
    // Rounding down, to be safe.
    width: 33.32%;
  }
  @include sb-media($bp-evenGrid-4col) {
    // Put items side-by-side, 4 across
    width: 25%;
  }
}

.even-grid--item-inner-wrapper {
  // contain absolute positioning
  position: relative;

  @include sb-media($bp-evenGrid-2col) {
    // Activate intrinsic ratio powers
    height: 0;
    padding-bottom: $even-grid--base-ratio;
  }
}

.even-grid--contents {
  @include quick-transition;

  // Force element to be on composite layer,
  // prevent flicker
  @include transform(translate3d(0,0,0));

  padding: $item-inner-padding;
  border: 0.6em solid white;
  background-color: $c-bg-primaryLight;
  color: $c-tx-dark;

  // Cut off sliding image
  overflow: hidden;

  // IE7 doesn't want to show a pointer
  // cursor since the <a> is around a block-level
  // element, so let's force it.
  cursor: pointer;

  @include sb-media($bp-evenGrid-2col) {
    // Activate intrinsic ratio powers
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.#{$active-class} {
  background-color: $c-tx-dark;
  color: $c-bg-primaryLight;
}


.even-grid--title {
  font-size: 1.3em;
}

.even-grid--subtitle {
  @extend %font-primary;
  font-weight: lighter;
  font-size: 1.3em;
  @include sb-media($bp-evenGrid-2col) {
    margin-top: 2em;
  }
}

.even-grid--subtitle_with-image {
  @include sb-media($bp-evenGrid-2col) {
  color: $c-bg-primaryLight;
  }
}

.even-grid--contents_has-image {
  // Remove padding,
  // so the image can touch the bottom.
  // Stop laughing.
  padding-bottom: 0;
}

.even-grid--image-wrapper {
  margin-bottom: -$item-inner-padding - 0.1em;

  @include sb-media($bp-evenGrid-2col) {
    position: absolute;
    top: $item-inner-padding;
    left: $item-inner-padding;
    bottom: $item-inner-padding;
    right: $item-inner-padding;
  }

  // Move out of the way for clicking buttons
  .#{$active-class} & {
    top: 100%;
  }
}

.even-grid--image {
  @include quick-transition;

  // Force element to be on composite layer,
  // prevent flicker
  @include transform(translate3d(0,0,0));

  width: 100%;
  max-width: 25em;

  // Center
  margin: 0 auto;

  // Prevent space at bottom
  display: block;

  @include sb-media($bp-evenGrid-2col) {
    // No bigger than natural width
    max-width: 90%;

    // Attach to bottom
    position: absolute;
    bottom: 0;

    // Center absolute element
    left: 0;
    right: 0;
  }

  .#{$active-class} & {
    @include transform( translate3d(0, 100%, 0));
    opacity: 0;
  }
}

.even-grid--button-wrapper {
  @include sb-media($bp-evenGrid-2col) {
    position: absolute;
    bottom: 1.5em;

    // stretch out to allow centered button
    left: 0;
    right: 0;
  }
  @include sb-media(132em) {
    font-size: 1.2em;
  }
}

.even-grid--button-wrapper_with-image {
  position: absolute;
  bottom: 5em;

  // stretch out to allow centered button
  left: 0;
  right: 0;
  
  @include sb-media($bp-evenGrid-2col) {
    bottom: 1.5em;
  }
}
