.foundry--formset {
  background: $c-bg-primaryLight;
  padding: 1em 0;
}

.foundry--form-container {
  max-width: 65em;
  margin: 0 auto;
  width: 100%;
}

.foundry--form {
  padding-left: 25%;
}

.form--group {
  position: relative;
  border-collapse: collapse;
  @include clearfix;
}

.form--group--center {
  margin:0 auto;
}

.form--group--float {
  .form--group & {
    float: left;
  }
}

.form--label {
  @extend %font-primary;
  @extend .form--group--float;
  @include inline(top);
  cursor: pointer;
  width: auto;
  margin: 0;
  border: 0 none;
  background: $c-bg-primaryLight2x;
  text-transform: uppercase;
  font-size: .875em;
  color: $c-bg-primary;
  border: 2px solid $c-bg-primaryLight2x;
  border: .125rem solid $c-bg-primaryLight2x;
  @include rem(padding,.975);
  @include rem(height,3.125);
  &.hidden-label {
    display: none;
  }
}

.form--input {
  @extend %font-body;
  @include inline(top);
  border: 2px solid white;
  border: .125rem solid white;
  margin: 0;
  width: 50%;
  font-size: 1.125em;
  background: white;
  color: $c-bg-lightGray;
  @include appearance(none);
  @include border-radius(0);
  @include rem(padding,.75);
  @include rem(height,3.125);
  @extend .form--group--float;
  &:focus {
    outline: none;
    border-color: $c-bg-primaryDark;
  }
}

.form--button {
  @extend %font-primary;
  @include inline(top);
  cursor: pointer;
  width: auto;
  margin: 0;
  border: 0 none;
  background: $c-bg-primary;
  text-transform: uppercase;
  font-size: .875em;
  color: $c-bg-primaryDark;
  border: 2px solid $c-bg-primary;
  border: .125rem solid $c-bg-primary;
  @include rem(padding,.975);
  @include rem(height,3.125);
  @extend .form--group--float;
  &:hover {
    color: $c-bg-primary;
    background: $c-bg-primaryDark;
    border: 2px solid $c-bg-primaryDark;
    border: .125rem solid $c-bg-primaryDark;
  }
  &:active {
    color: white;
  }
}

.form--message {
  margin: 0 0 1em;
  font-size: 1em;
  color: $c-bg-primaryDark;
}
