/*
This is the standard header, including navigation and a logo. Used at the top of most pages of the site.

Styleguide 1.1
*/

.site-header {
  background: $c-bg-primaryDark;
  color: white;
  @include clearfix;
  &.home-header {
    background: $c-bg-primary;
  }
}

.main-logo {
  font-size: 100%;
  margin: 0;
  font-weight: normal;
  float: left;
}

.main-logo--link {
  color: white;
  text-decoration: none;
  display: table;
  padding: 10px;
  @include sb-media(38em) {
    padding: 20px;
  }
}

.main-logo--icon {
  background: white;
  display: table-cell;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.75em;
  @include rem(line-height,1);
  @include rem(padding,.325);
  @include box-sizing(border-box);
  @include border-radius(2px);
  &:before {
    color: $c-bg-primaryDark;
  }
  .home-header & {
    background: $c-bg-primaryDark;
    &:before {
      color: $c-bg-primary;
    }
  }
}

.main-logo--text {
  display: none;
//  background: url("images/sparkbox.svg") no-repeat center center;
  color:rgba(#000,0);
  height: 60px;
  width: 140px;
  @include background-size(90px 21px);
  vertical-align: middle;
  font-size: 1.6875em;
  text-align: center;
  position: relative;
  @include rem(line-height,1);
  @include sb-media(38em) {
    display: table-cell;
    height: 40px;
    // width: 180px;
    @include background-size(auto auto);
  }
}

.sparkbox-text--path {
  fill: #fff;
  .home-header & {
    fill: $c-bg-primaryDark;
  }
}

.nav-button {
  @include rem(letter-spacing, .2);
  @include rem(margin, 1.15, .5, 0, 0);
  text-decoration: none;
  float: right;
  @include sb-media(38em) {
    display: none;
  }
}

.nav-button--icon {
  display: table-cell;
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  &:before {
    font-size: 1.375em;
  }
}

.nav-button--text {
  @include rem(font-size, .8125);
  @extend %font-primary;
  text-transform: uppercase;
  &:after{
    content:" \25BC";
    color: #3EA9BE;
    font-size: .75em;
    vertical-align: middle;
    .nav-button--open & {
      content:" \25B2";
    }
  }
  .home-header & {
    color: $c-bg-primaryDark;
    &:after {
      color: $c-bg-primaryDark;
    }
  }
}

.site-nav--list {
  display: none;
  @include rem(padding, .5, .5, 2.5, .5);
  list-style: none;
  margin: 0;
  @include box-sizing(border-box);
  clear: both;
  background: rgba(199, 236, 242, 1);
  #nav:target &,
  &.site-nav--display {
    display: block;
  }
  @include sb-media(38em) {
    @include rem(margin, 1.75, 1, 0, 0);
    padding: 0;
    display: inline;
    background: none;
    float: right;
    clear: none;
  }
}

.site-nav--item {
  vertical-align: middle;
  line-height: 1em;
  @include sb-media(38em) {
    display: inline;
    text-align: center;
  }
}

.site-nav--link {
  @extend %font-primary;
  display: inline-block;
  @include rem(padding, .5, .75);
  color: $c-tx-dark;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: .125em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  @include sb-media(38em){
    @include rem(margin, 0, .75);
    @include rem(padding, 0, 0, .25, 0);
    font-size: .8125em;
    color: #fff;
    &:hover {
      border-bottom: 3px solid white;
    }
    .home-header & {
      color: $c-bg-primaryDark;
      &:hover {
        border-bottom: 3px solid $c-bg-primaryDark;
      }
    }
  }
}

.site-nav--contact-info{
  @include rem(margin, 1.5, 0, 0, 0);
  list-style-type: none;
  padding: 0;
  @include sb-media(38em) {
    display: none;
  }
}

.site-nav--contact-info-item{
  @include rem(padding, 1, 0);
  @include rem(margin-left, .75);
  @extend %font-primary;
  color: $c-tx-dark;
  display: inline;
  background: #8DCFDA;
  text-transform: uppercase;
}

.site-nav--contact-info-link{
  @include rem(padding, 1);
}

.site-nav--highlight{
  .site-nav--link{
    @include rem(padding, .5);
    background: $c-bg-primary;
    color: $c-tx-dark;
    position: relative;
    &:after{
       bottom: 100%;
       left: 50%;
       border: solid transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
       border-color: rgba(163, 218, 227, 0);
       border-bottom-color: $c-bg-primary;
       border-width: 7px;
       margin-left: -7px;
    }
    &:hover{
      border-bottom: none;
      background: $c-bg-primaryLight3x;
      &:after{
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: $c-bg-primaryLight3x;
        border-width: 7px;
        margin-left: -7px;
      }
    }
    .home-header & {
      background: $c-bg-primaryLight;
      &:after {
        border-bottom-color: #a3dae3;
      }
      &:hover {
        background: $c-bg-primaryLight3x;
        &:after {
          border-bottom-color: $c-bg-primaryLight3x;
        }
      }
    }
  }
}

.contact-info--container {
  display:block;
  width: 100%;
  background: $c-bg-primaryLight;
  text-align: center;
  height:0;
  overflow: hidden;
  @extend %font-primary;
  // @include experimental(transition, all 250ms linear);
  @include sb-media(38em) {
    &.contact-info--display {
      padding: 3em 0;
      height: auto;
    }
  }
}

.contact-info--item {
  @include inline(bottom);
  & + & {
    margin-left: 2em;
  }
}

.contact-info--label {
  color: $c-bg-primary;
  text-transform: uppercase;
  margin: 0 .75em;
}

.contact-info--link {
  color: $c-bg-primaryDark;
  font-size: 2.5em;
}

.contact-info--email {
  text-decoration: underline;
}
