<div class="devices-hero">
  <h1 class="devices-hero--title">
    <span class="devices-hero--title-first">{{title-first}}</span>
    <span class="devices-hero--title-second">{{title-second}}</span>
  </h1>
  <p class="devices-hero--subtitle">{{subtitle}}</p>
</div>