<div class="devices-hero">

  <div class="devices-hero--art-wrapper">
    <div class="devices-hero--art">

      <?xml version="1.0" encoding="utf-8"?>
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg version="1.1" class="devices-hero--svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1870 838.084" enable-background="new 0 0 1870 838.084" xml:space="preserve">
        <g class="devices-hero--device devices-hero--device-1">
          <path class="devices-hero--device--outline" d="M636.011,497.716c-5.092,0-9.225-4.503-9.225-10.061V353.65c0-5.552,4.133-10.047,9.225-10.047h180.892c5.096,0,9.225,4.495,9.225,10.047v134.005c0,5.559-4.128,10.061-9.225,10.061H636.011z"/>
          <path class="devices-hero--device--filled-shape" d="M643.541,425.683c-2.769,0-5.023-2.246-5.023-5.019c0-2.773,2.254-5.026,5.023-5.026c2.777,0,5.023,2.253,5.023,5.026C648.564,423.437,646.318,425.683,643.541,425.683z"/>
        </g>
        <g class="devices-hero--device devices-hero--device-2">
          <path class="devices-hero--device--outline" d="M943.683,574.907c0,3.25-2.638,5.889-5.895,5.889h-78.495c-3.24,0-5.875-2.639-5.875-5.889V443.438c0-3.249,2.634-5.889,5.875-5.889h78.495c3.256,0,5.895,2.64,5.895,5.889V574.907z"/>
          <path class="devices-hero--device--filled-shape" d="M904.433,563.136c0,3.245-2.63,5.889-5.885,5.889c-3.245,0-5.879-2.644-5.879-5.889c0-3.256,2.634-5.889,5.879-5.889C901.803,557.247,904.433,559.88,904.433,563.136z"/>
        </g>
        <g class="devices-hero--device devices-hero--device-3">
          <path class="devices-hero--device--outline" d="M1275.711,556.519V407.763H994.076v148.756h-22.323v23.809h324.292v-23.809H1275.711z"/>
          <line class="devices-hero--device--outline" x1="994.05" y1="556.519" x2="1276.289" y2="556.519"/>
          <line class="devices-hero--device--outline" x1="1103.955" y1="567.215" x2="1170.803" y2="567.215"/>
        </g>
        <g class="devices-hero--device devices-hero--device-4">
          <path class="devices-hero--device--outline" d="M790.618,587.479c0,5.892-4.632,10.669-10.342,10.669h-99.631c-5.716,0-10.349-4.777-10.349-10.669V536.79c0-5.887,4.632-10.667,10.349-10.667h99.631c5.71,0,10.342,4.779,10.342,10.667V587.479z"/>
          <path class="devices-hero--device--outline" d="M670.297,587.586v67.293c0,6.039,4.749,10.93,10.608,10.93h133.922c5.867,0,10.615-4.891,10.615-10.93v-56.293c0-6.04-4.748-10.94-10.615-10.94l-4.446-0.014h-18.353 M784.639,654.191h-101.91v-45.047h101.91V654.191z"/>
        </g>
        <g class="devices-hero--device devices-hero--device-5">
          <rect class="devices-hero--device--outline" x="851.676" y="614.877" width="209.035" height="156.769"/>
          <line class="devices-hero--device--outline" x1="926.344" y1="805.242" x2="926.344" y2="771.646"/>
          <line class="devices-hero--device--outline" x1="986.05" y1="771.646" x2="986.05" y2="805.242"/>  
          <line class="devices-hero--device--outline" x1="902.072" y1="805.242" x2="1008.446" y2="805.242"/>
        </g>
        <g class="devices-hero--device devices-hero--device-6">
          <path class="devices-hero--device--outline" d="M1247.881,793.697c0,5.092-4.502,9.225-10.061,9.225h-134.005c-5.552,0-10.047-4.133-10.047-9.225V612.805c0-5.096,4.495-9.225,10.047-9.225h134.005c5.559,0,10.061,4.128,10.061,9.225V793.697z"/>
          <path class="devices-hero--device--filled-shape" d="M1175.848,786.168c0,2.77-2.246,5.023-5.019,5.023s-5.026-2.254-5.026-5.023c0-2.777,2.253-5.023,5.026-5.023S1175.848,783.391,1175.848,786.168z"/>
        </g>
        <g class="devices-hero--device devices-hero--device-7">
          <path class="devices-hero--device--outline" d="M827.11,815.755V691.862H592.547v123.893h-18.592v19.829h270.09v-19.829H827.11z"/>
          <line class="devices-hero--device--outline" x1="592.696" y1="815.755" x2="827.919" y2="815.755"/>
          <line class="devices-hero--device--outline" x1="684.061" y1="824.664" x2="739.736" y2="824.664"/>
        </g>
      </svg>

    </div>
  </div>

  <div class="devices-hero--content">
    <h1 class="devices-hero--title">
      <span class="devices-hero--title--first">{{title-first}}</span>
      <span class="devices-hero--title--second">{{title-second}}</span>
    </h1>
    <p class="devices-hero--subtitle">{{subtitle}}</p>
  </div>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, omnis, assumenda, dolorem, mollitia nihil quia et culpa similique voluptatibus libero iure id cum dolores vero tempora velit voluptas cupiditate dignissimos.</p>
<p>Iusto, harum quos fugit ad unde dolore vitae architecto non molestiae eaque pariatur aspernatur adipisci esse laboriosam dolores officia nesciunt quam a veniam iure quae ratione voluptatibus. Sapiente, voluptas, accusamus.</p>
<p>Voluptate, laboriosam, voluptas dolor doloremque minus quod modi consectetur harum accusantium optio aliquam at iusto cumque ad obcaecati debitis commodi natus sint non vel beatae in nobis odit iste ipsum!</p>
<p>Ut, vitae minima adipisci aliquid deleniti rerum ratione animi optio! Totam, iusto, officiis quos optio beatae similique nulla fugit sapiente commodi labore molestias quis aut reiciendis aliquam dolores quidem nemo.</p>
<p>Cum, vero, ex quia temporibus perspiciatis minus autem architecto dolores odio rerum. Iste, suscipit, aut ipsum facere libero commodi error cupiditate neque delectus sed a velit atque. Impedit, magni, ipsam.</p>
<p>Quasi, debitis, voluptas, at cum nihil vel hic dolorem fugiat quia aperiam consectetur officiis dolores eum soluta modi. Quis, nesciunt iste vel odit facilis in excepturi veniam voluptas optio porro.</p>
<p>Quasi, ipsam, nulla laudantium error reprehenderit rem animi sed dolore nemo dolorem hic illo eveniet at consequatur saepe iure impedit et praesentium excepturi quam facere pariatur nostrum vero deleniti veniam.</p>
<p>Earum, fugit, quaerat ullam quas rem iste doloremque commodi praesentium molestiae at mollitia reprehenderit libero molestias minus eveniet et quisquam explicabo fugiat neque excepturi consectetur beatae recusandae assumenda vitae natus.</p>
<p>Ea officia adipisci dolorem minima pariatur cumque culpa laborum laboriosam dolorum. Sit, consectetur aut libero ab fugiat officia nostrum delectus perspiciatis labore quos nobis corrupti dolores tempora reprehenderit hic nisi!</p>
<p>Eius, et, saepe, ipsa voluptate deleniti consequuntur similique molestiae rerum amet natus dicta dolorum laudantium obcaecati doloremque laborum. Ad, ducimus eius assumenda ipsa modi unde recusandae iste earum dicta expedita.</p>
<p>Quos, voluptatibus, perspiciatis, quibusdam alias velit accusamus ex temporibus quidem laborum at ratione distinctio neque corporis nesciunt excepturi nihil odio iure ea obcaecati ut aliquid ipsa dicta eveniet aperiam unde.</p>
<p>Debitis, itaque deleniti consequatur quis tempore ab distinctio possimus beatae voluptas voluptatibus. Atque, ea eum voluptatum. In, veritatis, quaerat, totam a sit corporis expedita necessitatibus laboriosam molestiae dolor eum quasi.</p>
<p>Aut, ratione, odio modi et consequatur porro dolores. Sequi, ab, placeat, consequatur, eligendi dignissimos laudantium rem atque repellendus quaerat culpa blanditiis maxime nostrum non earum ut? Atque, repellendus expedita eaque!</p>
<p>Autem, enim, laboriosam nisi iste quis quam magnam voluptates! Sequi, aliquam, quis, nostrum, voluptate at cumque iure ea animi nobis quasi nisi ut quia ipsum omnis est numquam fugit adipisci!</p>
<p>Sed, officia laboriosam odio unde minus culpa deleniti laudantium asperiores consequatur error atque aperiam sit in nam a porro consectetur possimus ullam dolores iste natus voluptatum aspernatur! Totam, repudiandae quam.</p>
<p>A, distinctio dolores dicta illo earum atque quis praesentium voluptate similique neque ullam in soluta unde vero vitae amet doloremque debitis id ipsum nulla reprehenderit cupiditate omnis expedita est eaque.</p>
<p>Ipsum, ipsa sunt minima illo laudantium sed amet similique dolorem eligendi sequi. Obcaecati, provident eos enim esse voluptatibus velit voluptate corporis incidunt animi sapiente eius atque blanditiis in ab placeat?</p>
<p>Debitis, harum, minus illo incidunt inventore veritatis excepturi repellendus hic error consequuntur doloribus cum dicta soluta facilis unde similique expedita eos fuga corporis neque eaque at ad nisi sapiente ea?</p>
<p>Sit, provident, pariatur, adipisci repellat officiis architecto quibusdam corrupti animi minus tempore eveniet suscipit in non voluptatum obcaecati impedit sed. Molestiae voluptates itaque id reiciendis at fugit provident maxime repudiandae.</p>
<p>Enim suscipit voluptas id totam laudantium. Quas, minima officiis quasi dolore numquam pariatur eligendi. Quis, animi totam adipisci neque consequatur nam quas distinctio maxime molestias incidunt. Aut minus non blanditiis!</p>
<p>Praesentium, pariatur, iusto, repellat, fuga rerum eveniet aliquam quisquam reiciendis ducimus minima dolorum quo omnis fugit architecto mollitia quis facilis ullam quae perferendis assumenda nam illo quibusdam sequi vero quia!</p>
<p>Illum, culpa, ipsum perferendis sit perspiciatis enim sint eveniet ab ex saepe facilis quod quidem fuga iusto ipsam rerum odit reprehenderit blanditiis nostrum excepturi. Asperiores, aliquid iste obcaecati illum quam!</p>
<p>Voluptates, quasi, ducimus, tempore, quae corporis at suscipit minus rem ullam ut eaque similique odit ipsa quaerat consectetur minima magni aperiam placeat maiores necessitatibus praesentium obcaecati consequuntur sed. Veniam, neque.</p>
<p>Necessitatibus, laudantium, reiciendis debitis explicabo assumenda natus nisi neque ad cumque consequuntur minima aliquid! Eius, temporibus, nesciunt ducimus consequatur sint voluptate et necessitatibus numquam suscipit sequi ipsum nihil quaerat quam.</p>
<p>Fuga, sed, repellendus. Est, maiores, quam totam alias saepe tempore laborum dicta ea reiciendis laudantium nobis voluptatibus vel illum nostrum consectetur ratione cumque soluta quo aliquam expedita recusandae mollitia ipsum.</p>
<p>Inventore, culpa, laudantium temporibus aspernatur illo amet eius nemo unde voluptate tempora odio repellendus sapiente natus consectetur facilis ex ipsa cupiditate commodi mollitia atque exercitationem aperiam facere quasi nesciunt earum.</p>
<p>Necessitatibus, nam ipsa a perferendis. Qui, necessitatibus, explicabo, exercitationem, nobis cumque facilis ratione suscipit odit ut quisquam expedita doloremque iure quis fuga similique sit eveniet dolore ipsa accusamus maiores voluptatum.</p>
<p>Quidem, ipsam, dicta, accusamus architecto similique aut alias officia sunt quaerat omnis laudantium deserunt odit est nihil rerum incidunt excepturi temporibus sapiente eius ratione nemo in exercitationem consequatur! Consectetur, cum!</p>
<p>Eius, quasi magnam voluptates neque minus molestiae molestias ut. Doloribus, similique, et inventore ipsum recusandae fuga repellendus rem distinctio excepturi sunt maiores neque non facere. Quasi, eum tempora consequuntur voluptatibus!</p>
<p>Eum, asperiores, in, rerum obcaecati dolorum quasi fugit aliquid error hic molestiae perferendis eos magnam nostrum dolorem doloribus placeat aliquam voluptatibus temporibus vel saepe illum dignissimos quo unde reiciendis libero!</p>