<div class="devices-hero">

  <div class="devices-hero--art-wrapper">
    <div class="devices-hero--art">
      <object class="devices-hero--art-1" data="img/devices-hero--art.svg" type="image/svg+xml"></object>
    </div>
  </div>

  <div class="devices-hero--content">
    <h1 class="devices-hero--title">
      <span class="devices-hero--title--first">{{title-first}}</span>
      <span class="devices-hero--title--second">{{title-second}}</span>
    </h1>
    <p class="devices-hero--subtitle">{{subtitle}}</p>
  </div>
</div>