<div class="devices-hero">

  <div class="devices-hero--art">
    <object data="" type=""></object>  
  </div>

  <h1 class="devices-hero--title">
    <span class="devices-hero--title-first">{{title-first}}</span>
    <span class="devices-hero--title-second">{{title-second}}</span>
  </h1>
  <p class="devices-hero--subtitle">{{subtitle}}</p>
</div>