<header class="site-header">
  <nav class="site-nav" id="nav">
    <h1 class="main-logo">
      <a href="/" class="main-logo--link">
        <span class="main-logo--icon" aria-hidden="true" data-icon="&#xe001;"></span>
        <span class="main-logo--text">Sparkbox</span>
      </a>
    </h1>
    <a class="nav-button" href="#nav">
      <span class="nav-button--text">Navigation</span>
    </a>
    <ol class="site-nav--list">
      <li class="site-nav--item"><a href="#" class="site-nav--link">Team</a></li>
      <li class="site-nav--item"><a href="/work.html" class="site-nav--link">Work</a></li>
      <li class="site-nav--item"><a href="#" class="site-nav--link">Foundry</a></li>
      <li class="site-nav--item site-nav--highlight"><a href="#" class="site-nav--link layout--hide-at-small">Contact</a>
        <ul class="site-nav--contact-info">
          <li class="site-nav--contact-info-item"><a href="tel:937-471-0915" class="site-nav--contact-info-link">937.471.0915</a></li>
          <li class="site-nav--contact-info-item"><a href="mailto:info@heysparkbox.com" class="site-nav--contact-info-link">Email Us</a></li>
        </ul>
      </li>
    </ol>
  </nav>
</header>
