<header class="site-header">
  <h1 class="main-logo">
    <a href="/" class="main-logo--link">
      <span class="main-logo--icon" aria-hidden="true" data-icon="&#xe001;"></span>
      <span class="main-logo--text">Sparkbox</span>
    </a>
  </h1>
  <nav class="site-nav" id="nav">
    <a class="nav-button" href="#nav">
      <span class="nav-button--text">Navigation</span>
    </a>
    <ol class="site-nav--list">
      <li class="site-nav--item"><a href="#" class="site-nav--link">Team</a></li>
{{!--       <li class="site-nav--item"><a href="#" class="site-nav--link">Belief</a></li>
 --}}      <li class="site-nav--item"><a href="/work.html" class="site-nav--link">Work</a></li>
      <li class="site-nav--item"><a href="#" class="site-nav--link">Foundry</a></li>
      <li class="site-nav--item"><a href="#" class="site-nav--link">Contact</a></li>
    </ol>
  </nav>
</header>
