{{> _head}}
{{> _site-header}}
<div class="foundry--search">
  <form class="seach--form">
    <div class="search--group search--long-group">
      <label class="search--label hidden-label" for="input--search">Search</label>
      <input type="search" class="search--input" id="input--search" name="input--search" placeholder="Search the Foundry">
      <button class="search--button">Go</button>
    </div>
  </form>
</div>
<main class="layout--container layout--vertical-space-2x site-main js-site-main">
  <section class="foundry--container">
    <ul class="foundry--entries">
      {{#each page-data.foundry-articles}}
      <li class="foundry--item">
        <img class="foundry--thumb" src="/img/blog-img.jpg" />
        <header class="foundry--header">
          <h1 class="foundry--title">
            <a href="{{this.target}}" class="foundry--link">{{this.title}}</a>
          </h1>
          <p class="foundry--meta">
            <span class="foundry-article--meta-item foundry-article--author">By <a href="#" class="foundry-article--meta-link foundry-article-author-link">{{this.author}}</a></span>
            <span class="foundry-article--meta-item foundry-article--date">Posted {{this.date}}</span>
          </p>
        </header>
        <article class="foundry--summary">
          <p class="foundry--summary-body">With web design changing as fast as ever, the Sparkbox team can't stop looking for new ways to refine our process to meet the growing challenges.</p>
        </article>
      </li>
      {{/each}}
    </ul>
  </section>
</main>
<div class="foundry--search">
  <form class="seach--form">
    <div class="search--group search--long-group">
      <p>Keep up with new posts in the Foundry by subscribing to our weekly email: The Spark.</p>
      <label class="search--label hidden-label" for="input--search">Sign up</label>
      <input type="email" class="search--input" id="input--search" name="input--search" placeholder="email@domain.com">
      <button class="search--button">Sign Up</button>
    </div>
  </form>
</div>

{{> _footer}}