{{> _head}}
{{> _site-header}}

<div class="foundry--formset foundry--search">
  <div class="foundry--form-container">
    <form class="foundry--form">
      <div class="form--group">
        <label class="form--label" for="search--form">Find an article</label>
        <input type="search" class="form--input" id="search--form" name="search --form" placeholder="Search the Foundry">
        <button class="form--button">Go</button>
      </div>
    </form>
  </div>
</div>

<main class="layout--container layout--vertical-space-2x site-main js-site-main">
  <section class="foundry--container">
    <ul class="foundry--entries">
      {{#each page-data.foundry-articles}}
      <li class="foundry--item">
        <img class="foundry--thumb" src="/img/blog-img.jpg" />
        <header class="foundry--header">
          <h1 class="foundry--title">
            <a href="{{this.target}}" class="foundry--link">{{this.title}}</a>
          </h1>
          <p class="foundry--meta">
            <span class="foundry-article--meta-item foundry-article--author">By <a href="#" class="foundry-article--meta-link foundry-article-author-link">{{this.author}}</a></span>
            <span class="foundry-article--meta-item foundry-article--date">Posted {{this.date}}</span>
          </p>
        </header>
        <article class="foundry--summary">
          <p class="foundry--summary-body">With web design changing as fast as ever, the Sparkbox team can't stop looking for new ways to refine our process to meet the growing challenges.</p>
        </article>
      </li>
      {{/each}}
    </ul>
    <div class="pagination">
      <a class="pagination--link pagination--prev-link" href="#">Previous</a>
      <a href="#" class="pagination--page-link">1</a>
      <a href="#" class="pagination--page-link">2</a>
      <a href="#" class="pagination--page-link pagination--current-page">3</a>
      <a href="#" class="pagination--page-link">4</a>
      <a href="#" class="pagination--page-link">5</a>
      <a class="pagination--link pagination--next-link" href="#">Next</a>
    </div>
  </section>
</main>

<div class="foundry--formset">
  <div class="foundry--form-container">
    <form class="foundry--form foundry--newsletter">
      <div class="form--group">
        <label class="form--label" for="newsletter--signup">Get Email Updates</label>
        <input type="email" class="form--input" id="newsletter--signup" name="  newsletter--signup" placeholder="email@domain.com">
        <button class="form--button">Sign Up</button>
      </div>
    </form>
  </div>
</div>

{{> _footer}}