<div class="foundry-header">
  <ul class="foundry-header-list">
    <li class="foundry-header-listItem">
      <a class="foundry-header-listItem-link foundry-header-listItem-selectedLink" href="#">Full Article</a>
    </li>
    <li class="foundry-header-listItem">
      <a class="foundry-header-listItem-link" href="#">Quick Read</a>
    </li>
  </ul>
</div>