<div class="hero-wrapper">
  <div class="hero layout--container">
    <div class="hero-firstContent">
      {{{ hero-firstContent }}}
    </div>
    <div class="hero-secondContent">
      {{{ hero-secondContent }}}
    </div>
  </div>
</div>
