{{> _head}}

{{> _site-header}}

<main class="layout--container layout--vertical-space-2x site-main js-site-main">
  <section class="foundry-listing--container">
    <ul class="foundry-listing--entries">
      <li class="foundry-listing--item">
        <img class="foundry-listing--thumb" src="#" />
        <header class="foundry-listing--header">
          <h1 class="foundry-listing--article-title">
            New Design Deliverable: The Style Prototype
          </h1>
          <p class="foundry-listing--meta-item">
            Posted 8-15-13 by Jeremy Loyd
          </p>
        </header>
      </li>
    </ul>
  </section>
</main>

{{> _footer}}
