{{> _head}}

{{> _site-header}}

<section>
  {{> _hero page-data.hero }}
</section>

<main class="layout--container site-main">
  <section class="layout--vertical-space-2x">
    {{> _page-intro page-data.page-intro }}
  </section>
  <section class="layout--vertical-space">
    {{> _team-listing page-data }}
  </section>
</main>

{{> _footer}}
