{{> _head}}

{{> _site-header}}

<section>
  {{> _hero page-data.hero }}
</section>

<main class="layout-container">
  <section class="layout-verticalSpace-2x">
    {{> _pageIntro page-data.page-intro }}
  </section>
  <section class="layout-verticalSpace">
    {{> _teamListing page-data }}
  </section>
</main>

{{> _footer}}