{{> _head}}

{{> _site-header}}

<main>
  <section>


  <ol class="evenGrid">
    {{#each work-items}}
      <li class="evenGrid-item">
      <a href="{{ url }}">
        <div class="thing">
          <h3>{{ title }}</h3>
          <p>{{ headline }}</p>
        </div>
      </a>
      </li>
    {{/each}}
  </ol>


  </section>
</main>

{{> _footer}}
