{{> _head}}

{{> _site-header}}

<main class="layout-container site-main">
  <section class="layout-verticalSpace">


  <ol class="evenGrid">
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
    <li class="evenGrid-item">
      <h3>Project Title</h3>
      <p>Help one of the top-ten grossing websites optimize for mobile.</p>
    </li>
  </ol>


  </section>
</main>

{{> _footer}}
