// COLORS

// background colors

$c-bg-mainBody: #EAFCFF;
$c-bg-mainHeader: #252525;
$c-bg-logoBlock: #50B7C8;
$c-articleBackground: #D5F2F7; // also rgba(#3EA9BE,.12)
$c-articleBackground-selected: #A3DAE3;
$c-bg-darkPrimary: #0A5861;

// link colors

$c-anchorLink: #3EA9BE;
$c-anchorLink-hover: lighten($c-anchorLink,10%);
$c-anchorLink-visited: darken($c-anchorLink,20%);

// text colors

$c-tx-logoColor: #1A1918;
$c-tx-dark: #1C4C54;
$c-tx-light: #3EA9BE;
$c-tx-light2x: #80D4DF;
$c-tx-light3x: #DAFDFF;