.evenGrid {
  // Reset list styles
  list-style: none;
  padding: 0;
  margin: 0;
}

.evenGrid-item {
}

.thing {
  padding: 0.6em;
  border: 0.6em solid white;

  background-color: #B6E1E8;
  color: #265e67;
}
