$bp-evenGrid-2col: 40em;
$bp-evenGrid-3col: 65em;
$base-ratio: 80.27%;

.evenGrid {
  // Reset list styles
  list-style: none;
  padding: 0;
  margin: 0;

  // Contain floats
  width: 100%;
  float: left;

  // The whole list also has a border,
  // to make it even all the way around.
  // Otherwise we'd have to do a bunch of
  // nth-child craziness for every breakpoint
  border: 0.6em solid white;
  background: white;
}

.evenGrid-item {
  @include sb-media($bp-evenGrid-2col) {
    // Put items side-by-side, 2 across
    width: 50%;
    float: left;
  }

  @include sb-media($bp-evenGrid-3col) {
    // Put items side-by-side, 3 across
    width: 33.32%;
  }
}

.evenGrid-itemInnerWrapper {
  @include sb-media($bp-evenGrid-2col) {
    position: relative;

    // Activate intrinsic ratio powers
    height: 0;
    padding-bottom: $base-ratio;
  }
}

.evenGrid-contents {
  padding: 0.6em;
  border: 0.6em solid white;
  background-color: #B6E1E8;
  color: #265e67;

  // IE7 doesn't want to show a pointer
  // cursor since the <a> is around a block-level
  // element, so let's force it.
  cursor: pointer;


  @include sb-media($bp-evenGrid-2col) {
    // Activate intrinsic ratio powers
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
