.foundryArticle-header {
  position: relative;
  @include clearfix;
}

.foundryArticle-title {
  @include sb-media(25em) {
    font-size: 2.25em;
  }
  @include sb-media(45em) {
    font-size: 2.875em;
    float: left;
    margin-left: 25%;
    margin-bottom: 0;
    width: 75%;
  }
  @include sb-media(60em) {
    font-size: 3.25em;
  }
}

.foundryArticle-meta {
  @include sb-media(45em) {
    position: absolute;
    bottom: 0;
    width: 20%;
  }
}

.foundryArticle-metaItem {
  @extend %font-primary;
  margin: 0;
  color: $c-tx-light;
  font-size: .75em;
  font-weight: 700;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.foundryArticle-metaLink {
  color: $c-tx-light;
}

.foundryArticle-content {
  clear: both;
  @include sb-media(45em) {
    padding-left:25%;
  }
}

///////////////////////////////

.foundryArticle-intro {
  font-size: 1.25em;
  @include sb-media(45em) {
    font-size: 1.875em;
    line-height: 1.5em;
  }
  .readingStyle-fullArticle & {
    display: none;
  }
}

.foundryArticle-expandableHeader {
  .readingStyle-quickRead & {
    @extend %font-primary;
    font-size: 1.25em;
    cursor: pointer;
    position: relative;
    @include rem(padding-left,2.75);
  }
  .readingStyle-quickRead &:before {
    content: '+';
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    @include rem(width,1.75);
    @include rem(height,1.75);
    color: #1C4C54;
    background: #C9EDF2;
  }
  .readingStyle-quickRead &.expandableContent-isExpanded:before {
    content: '\2013';
  }
}

.foundryArticle-addedHeader {
  display: none;
  .readingStyle-quickRead & {
    display: block;
  }
}

.foundryArticle-expandableContent {
  .readingStyle-quickRead & {
    @include rem(padding-left,2.75);
    display: none;
  }
  .expandableContent-isExpanded + & {
    display: block;
  }
}
