/*
Simple text intro for introducing pages. Contains a title and a subtitle.

Styleguide 1.4
*/

.pageIntro {
  text-align: center;
}

.pageIntro-title {
  color: $c-tx-dark;
}

.pageIntro-subtitle {
  @include rem(font-size, 1.3);
  color: $c-tx-light;
}