.team-listing--item {
  @extend %font-primary;
  background: #fff;
  margin-top: 1.2em;
  position: relative;
  clear: left;
  @extend %clearfix;

  @include sb-media( $bp-layout-small ) {
    display: block;
    background: transparent;
    clear: none;
    border: 8px solid rgba(255, 255, 255, 0);

    &:hover {
      border: 8px solid $c-bg-primaryLight;
    }
  }

  @include sb-media( $bp-layout-small + 1 ) {
    // Adding this transition slightly *after* the big layout change
    // that happens at $bp-layout-small. Prevents a really big
    // messy-looking shift during the layout change.

    @include transition(border-color, .25s);
  }

  @include sb-media( $bp-layout-small ) {
    width: 48%;
    float: left;

    li:nth-of-type(odd) & {
      margin-right: 2%;
    }

    li:nth-of-type(even) & {
      margin-left: 2%;
    }
  }

  @include sb-media( $bp-layout-medium ) {
    width: 30%;
    margin-right: 2%;

    li:nth-of-type(even) & {
      margin-left: 0;
    }

    li:nth-of-type(3n+2) & {
      margin-left: 2%;
    }

    li:nth-of-type(3n+3) & {
      margin-right: 0;
      margin-left: 2%;
    }
  }
}

.team-listing--item--overlay--text {
  @include rem( font-size, .8 );
  clear: both;
  background-color: $c-bg-primary;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  padding: 1em 0.8em;

  @include sb-media( $bp-layout-small ) {
    background-color: transparent;
    position: absolute;
    clear: none;

    // horizontal and vertical positioning
    width: 80%;
    margin: auto;
    top: 15%;
    left: 0;
    right: 0;
  }

  a {
    display: block;
    color: white;
    text-decoration: underline;
  }

  p {
    line-height: 1.5;
    margin: 0;

    @include sb-media( $bp-layout-medium ) {
      line-height: 2.5;  
    }
  }
}

.team-listing--item--mug {
  float: left;
  width: 30%;

  .team-listing li:nth-of-type(even) & {
    float: right;
  }

  @include sb-media( $bp-layout-small ) {
    width: 100%;

    .team-listing li:nth-of-type(even) & {
      float: left;
    }
  }
}

.team-listing--item--name-wrapper {
  padding: .4em;
  text-align: center;
  float: left;
  width: 70%;
  position: relative;
  margin-top: 6%;
  z-index: 1;

  &:before {
    @include transition(position, .25s);
    content: " ";
    border: solid rgba(0, 0, 0, 0);
    border-right-color: #FFF;
    border-width: 1.9em;
    left: -2.5em;
    position: absolute;
    z-index: -1;

    .team-listing--item:hover & {
      left: -3.1em;
    }
  }

  .team-listing li:nth-of-type(even) &:before {
    @include transition(position, .15s);
    border: solid rgba(0, 0, 0, 0);
    border-left-color: #FFF;
    border-width: 1.9em;
    left: auto;
    right: -2.5em;
    position: absolute;
  }

  .team-listing li:nth-of-type(even) .team-listing--item:hover &:before {
    left: auto;
    right: -3.1em;
  }

  @include sb-media( 25em ) {
    margin-top: 6.2%;
  }

  @include sb-media( $bp-layout-small ) {
    background: #fff;
    clear: left;
    padding: 1.2em .5em 1.3em;
    float: none;
    width: auto;
    margin-top: 0;

    &:before {
      // The zealous use of !important here
      // is to violently seize the reigning power from
      // all the nth-selector styles up above.
      // It's not ideal, but sometimes aggressive dominance
      // is the only recourse against rebel nth-selector uprisings.

      @include transition(position, .25s);
      border: solid rgba(0, 0, 0, 0);
      border-left-color: rgba(0, 0, 0, 0) !important;
      border-bottom-color: #FFF !important;
      border-width: 2em !important;
      position: relative !important;
      top: -3.5em;
      left: auto !important;
      right: auto !important;

      .team-listing--item:hover & {
        top: -4.3em;
        left: auto !important;
        right: auto !important;
      }
    }
  }
}

.team-listing--item--name {
  text-transform: uppercase;
  color: $c-tx-dark;
  margin: 0;
  letter-spacing: 3px;

  @include sb-media( $bp-layout-small ) {
    letter-spacing: 3px;
  }

  @include sb-media( $bp-layout-medium ) {
    letter-spacing: 3px;
  }
}

.team-listing--item--first-name, .team-listing--item--last-name {
  display: block;
}

.team-listing--item--first-name {
  @include rem( font-size, .6 );

  @include sb-media( 28em ) {
    @include rem( font-size, .7 );
  }

  @include sb-media( $bp-layout-small ) {
    @include rem( font-size, .8 );
  }
}

.team-listing--item--last-name {
  @include rem( font-size, 1.2 );
  margin-top: 0.1em;

  @include sb-media( 28em ) {
    @include rem( font-size, 1.6 );
    margin-top: .3em;
  }

  @include sb-media( $bp-layout-small) {
    @include rem( font-size, 1.2 );
  }

  @include sb-media( $bp-layout-small + 3) {
    @include rem( font-size, 1.6 );
  }

  @include sb-media( $bp-layout-medium  ) {
    @include rem( font-size, 1.3 );
  }

  @include sb-media( $bp-layout-medium + 3 ) {
    @include rem( font-size, 1.6 );
  }
}

.team-listing--item--title {
  @include rem( font-size, .6 );
  color: $c-tx-light;
  text-transform: uppercase;
  margin-top: .4em;
  display: block;
  letter-spacing: 2px;
  line-height: 1.2;

  @include sb-media( 28em ) {
    margin-top: .9em;
  }
  
  @include sb-media( $bp-layout-small ) {
    @include rem( font-size, .7 );
    min-height: 4em;
    letter-spacing: 3px;
  }
}
