$bp-team-2col: 30em;
$bp-team-3col: $bp-layout-medium;

.team-listing--item {
  @extend %font-primary;
  @include transition(border-color, .25s);
  background: #fff;
  margin-top: 1.2em;
  border: 8px solid rgba(255, 255, 255, 0);
  position: relative;
  clear: left;

  &:hover {
    border: 8px solid $c-bg-primaryLight;
  }

  a { 
    @extend %clearfix;
    text-decoration: none;
  }

  @include sb-media( $bp-layout-small ) {
    clear: none;
  }

  @include sb-media( $bp-team-2col ) {
    width: 48%;
    float: left;

    li:nth-of-type(odd) & {
      margin-right: 2%;
    }

    li:nth-of-type(even) & {
      margin-left: 2%;
    }
  }

  @include sb-media( $bp-team-3col ) {
    width: 30%;
    margin-right: 2%;

    li:nth-of-type(even) & {
      margin-left: 0;
    }

    li:nth-of-type(3n+2) & {
      margin-left: 2%;
    }

    li:nth-of-type(3n+3) & {
      margin-right: 0;
      margin-left: 2%;
    }
  }
}

.team-listing--item--overlay {
  @extend %clearfix;
  position: relative;
}

.team-listing--item--overlay--text {
  @include rem( font-size, .8 );
  letter-spacing: 3px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  // horizontal + vertical positioning:
  width: 46%;
  height: 50%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  a {
    color: white;
    text-decoration: underline;
  }

  p {
    line-height: 1.5;

    @include sb-media( $bp-layout-medium ) {
      line-height: 2.5;  
    }
  }
}

.team-listing--item--mug {
  float: left;
  width: 40%;

  @include sb-media( $bp-layout-small ) {
    width: 100%;
  }
}

.team-listing--item--name-wrapper {
  padding: 1.2em 1.1em 1.3em;
  text-align: center;
  float: left;
  width: 60%;

  @include sb-media( $bp-layout-small ) {
    clear: left;
    padding: 1.2em .5em 1.3em;
    float: none;
    width: auto;

    &:before {
      @include transition(position, .25s);
      content: " ";
      border: solid rgba(0, 0, 0, 0);
      border-bottom-color: #FFF;
      border-width: 2em;
      position: relative;
      top: -2.8em;

      .team-listing--item:hover & {
        top: -3.5em;
      }
    }
  }
}

.team-listing--item--name {
  text-transform: uppercase;
  color: $c-tx-dark;
  margin: 0;
  letter-spacing: 5px;

  @include sb-media( $bp-team-2col ) {
    letter-spacing: 3px;
  }

  @include sb-media( $bp-team-3col ) {
    letter-spacing: 3px;
  }
}

.team-listing--item--first-name, .team-listing--item--last-name {
  display: block;
}

.team-listing--item--first-name {
  @include rem( font-size, .8 );
}

.team-listing--item--last-name {
  @include rem( font-size, 1.2 );
  margin-top: .3em;

  @include sb-media( $bp-team-2col ) {
    @include rem( font-size, 1.2 );
  }

  @include sb-media( $bp-team-3col + 3 ) {
    @include rem( font-size, 1.6 );
  }
}

.team-listing--item--title {
  @include rem( font-size, .7 );
  color: $c-tx-light;
  text-transform: uppercase;
  margin-top: .7em;
  display: block;
  letter-spacing: 3px;
  min-height: 4em;
  line-height: 1.8;
}
