.teamListing-item {
  @extend %font-primary;
  @include transition(border-color, .25s);
  margin-top: 1.2em;
  border: 8px solid rgba(255, 255, 255, 0);

  &:hover {
    border: 8px solid $c-bg-primaryLight;
  }

  a { text-decoration: none; }

  @include sb-media( 30em ) {
    width: 48%;
    float: left;

    li:nth-of-type(odd) & {
      margin-right: 2%;
    }

    li:nth-of-type(even) & {
      margin-left: 2%;
    }
  }

  @include sb-media( $bp-layout-medium ) {
    width: 30%;
    margin-right: 2%;

    li:nth-of-type(even) & {
      margin-left: 0;
    }

    li:nth-of-type(3n+2) & {
      margin-left: 2%;
    }

    li:nth-of-type(3n+3) & {
      margin-right: 0;
      margin-left: 2%;
    }
  }
}

.teamListing-item-mug {
  width: 100%;
  float: left;
}

.teamListing-item-nameWrapper {
  background: #FFF;
  padding: .5em .5em 2em;
  text-align: center;
  clear: left;

  &:before {
    @include transition(position, .25s);
    content: " ";
    border: solid rgba(0, 0, 0, 0);
    border-bottom-color: #FFF;
    border-width: 2em;
    position: relative;
    top: -2.8em;

    .teamListing-item:hover & {
      top: -3.5em;
    }
  }
}

.teamListing-item-name {
  text-transform: uppercase;
  color: $c-tx-dark;
  margin: 0;
  letter-spacing: 5px;
}

.teamListing-item-firstName, .teamListing-item-lastName {
  display: block;
}

.teamListing-item-firstName {
  @include rem( font-size, .8 );
}

.teamListing-item-lastName {
  @include rem( font-size, 1.6 );
  margin-top: .3em;
}

.teamListing-item-title {
  color: $c-tx-light;
  text-transform: uppercase;
  margin-top: .7em;
  display: block;
  letter-spacing: 3px;
  min-height: 3em;
}