/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../scss/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../scss/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../scss/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../scss/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 45, ../scss/_reset.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 46, ../scss/_reset.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 53, ../scss/_reset.scss */
a {
  color: #00e;
}

/* line 54, ../scss/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 55, ../scss/_reset.scss */
a:hover {
  color: #06e;
}

/* line 56, ../scss/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 59, ../scss/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 66, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 68, ../scss/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 70, ../scss/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 72, ../scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 74, ../scss/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../scss/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 78, ../scss/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 81, ../scss/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 84, ../scss/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 86, ../scss/_reset.scss */
q {
  quotes: none;
}

/* line 87, ../scss/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../scss/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 92, ../scss/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 93, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 94, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 101, ../scss/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 102, ../scss/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 103, ../scss/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 115, ../scss/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 121, ../scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../scss/_reset.scss */
form {
  margin: 0;
}

/* line 136, ../scss/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 139, ../scss/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 146, ../scss/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../scss/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 160, ../scss/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 168, ../scss/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 174, ../scss/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 180, ../scss/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 181, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 182, ../scss/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 188, ../scss/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 195, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 199, ../scss/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 206, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 207, ../scss/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 215, ../scss/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 216, ../scss/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 219, ../scss/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 222, ../scss/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 225, ../scss/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 228, ../scss/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 231, ../scss/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 232, ../scss/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 233, ../scss/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 241, ../scss/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 242, ../scss/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 243, ../scss/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 244, ../scss/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 245, ../scss/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 246, ../scss/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 247, ../scss/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 248, ../scss/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 249, ../scss/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 251, ../scss/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 252, ../scss/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../scss/_smallest.scss */
.construction {
  clear: both;
  padding: 100px 0;
  text-align: center;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'museo_slab_500regular';
  src: url("../fonts/museo_slab_500-webfont.eot");
  src: url("../fonts/museo_slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_slab_500-webfont.woff") format("woff"), url("../fonts/museo_slab_500-webfont.ttf") format("truetype"), url("../fonts/museo_slab_500-webfont.svg#museo_slab_500regular") format("svg");
}

/* box-sizing: border-box */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 24, ../scss/_build-header.scss */
.build-header,
.build-header .explanation-wrapper,
.build-header .explanation,
.build-header .rebuild-links-wrapper,
.build-header .rebuild-links,
.build-header .posts,
.build-header .deliverables,
.date-list li,
.build-header .site-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../scss/_build-header.scss */
.build-header {
  float: left;
  max-height: 93em;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  font-family: "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif;
  opacity: 100;
}

/* line 40, ../scss/_build-header.scss */
.build-header .heading {
  margin: 0;
  padding: 30px 0;
  background-color: #e9fcfe;
  color: #3f3d3d;
  text-align: center;
  font-size: 1.1em;
  -webkit-transition: padding 0.25s;
  -moz-transition: padding 0.25s;
  -o-transition: padding 0.25s;
  transition: padding 0.25s;
}

/* line 53, ../scss/_build-header.scss */
.build-header .heading a {
  position: relative;
  color: #265e67;
  text-decoration: none;
  border-bottom: 1px solid #265e67;
}

/* line 60, ../scss/_build-header.scss */
.build-header .heading a.build-reveal {
  display: inline-block;
  margin-right: 1.6em;
}

/* line 65, ../scss/_build-header.scss */
.build-header .heading a.build-reveal:after {
  position: absolute;
  /* prevent underline */
  margin-top: 0.2em;
  margin-left: 0.3em;
  content: "\25B2";
  /* up arrow */
  font-size: 0.8em;
}

/* line 73, ../scss/_build-header.scss */
.js .bh-collapsed .heading {
  padding: 5px;
  /* smaller when collapsed */
}

/* line 77, ../scss/_build-header.scss */
.build-header .build-body {
  /* revealed body */
  overflow: hidden;
  max-height: 100em;
  /* this is a generous size that we should never reach */
  /* slide transition done by trasitioning max-height */
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

/* line 89, ../scss/_build-header.scss */
.js .build-header.bh-collapsed .build-body {
  /* collapsed body */
  /* display: none; */
  max-height: 0;
  /* transition a little faster when closing */
  -webkit-transition: max-height 0.25s;
  -moz-transition: max-height 0.25s;
  -o-transition: max-height 0.25s;
  transition: max-height 0.25s;
}

/* line 100, ../scss/_build-header.scss */
.lt-ie9 .build-header.bh-collapsed .build-body {
  display: none;
}

/* line 104, ../scss/_build-header.scss */
.js .build-header.bh-collapsed .heading a.build-reveal:after {
  content: "\25BC";
  /* down arrow */
}

/* line 108, ../scss/_build-header.scss */
.build-header .explanation-wrapper {
  float: left;
  overflow: hidden;
  width: 100%;
  background-color: #9debf4;
}

/* 1-column .explanation */
/* line 117, ../scss/_build-header.scss */
.build-header .explanation {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;
  max-width: 960px;
  color: #265e67;
}

/* line 124, ../scss/_build-header.scss */
.build-header .sb-logo {
  /* small logo */
  margin: 0 auto 1em auto;
  width: 2.733em;
  height: 3em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* line 131, ../scss/_build-header.scss */
.svg .build-header .sb-logo {
  /* small logo - svg */
  background-image: url(../i/sb-logo.svg);
}

/* line 135, ../scss/_build-header.scss */
.no-svg .build-header .sb-logo,
.no-js .build-header .sb-logo {
  /* small logo - png */
  background-image: url(../i/sb-logo-small.png);
}

/* line 141, ../scss/_build-header.scss */
.build-header .explanation a {
  color: #265e67;
  text-decoration: underline;
}

/* line 145, ../scss/_build-header.scss */
.build-header .explanation p {
  line-height: 2;
  font-family: 'museo_slab_500regular', Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
}

/* line 152, ../scss/_build-header.scss */
.build-header .rebuild-links-wrapper {
  float: left;
  width: 100%;
  background-color: #c8f8fe;
}

/* line 157, ../scss/_build-header.scss */
.build-header .rebuild-links {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
}

/* line 162, ../scss/_build-header.scss */
.build-header .rebuild-links h2 {
  margin: 0 0 15px;
  color: #265e67;
  font-size: 1em;
}

/* line 167, ../scss/_build-header.scss */
.build-header .date-list {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}

/* line 172, ../scss/_build-header.scss */
.date-list li {
  display: table;
  margin-bottom: 9px;
  width: 100%;
}

/* line 177, ../scss/_build-header.scss */
.build-header .dl-when {
  display: table-cell;
  padding: 10px;
  width: 6em;
  background-color: #6bc6d2;
  color: #cbf8ff;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

/* line 189, ../scss/_build-header.scss */
.build-header .dl-what {
  display: table-cell;
  padding: 10px;
  background-color: #9debf4;
}

/* line 194, ../scss/_build-header.scss */
.build-header a.dl-what {
  color: #265e67;
  text-decoration: underline;
}

/* line 198, ../scss/_build-header.scss */
.build-header .dl-upcoming .dl-what {
  color: #73c5d3;
}

/* line 202, ../scss/_build-header.scss */
.build-header .site-links {
  float: left;
  padding: 30px 0;
  width: 100%;
  background-color: #9debf4;
  text-align: center;
}

/* line 209, ../scss/_build-header.scss */
.build-header .site-links .external-link {
  display: inline-block;
  margin: 9px;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #1f5e66;
  color: #9eebf4;
  text-decoration: none;
}

/* line 218, ../scss/_build-header.scss */
.build-header .site-links .external-link:after {
  display: inline-block;
  margin-left: 1em;
  width: 20px;
  height: 17px;
  background-image: url(../i/external-arrow.png);
  background-repeat: no-repeat;
  content: "\0000a0";
}

/* media queries */
/* type sizes */
@media (min-height: 40em) {
  /* line 234, ../scss/_build-header.scss */
  .js .build-header .heading,
  .no-js .build-header .heading {
    font-size: 1.3em;
    padding: 30px 0;
  }

  /* line 238, ../scss/_build-header.scss */
  .build-header .rebuild-links h2 {
    font-size: 1.3em;
  }
}
/* 2-column .explanation */
/* 2-column .posts and .deliverables */
@media (min-width: 43em) {
  /* line 247, ../scss/_build-header.scss */
  .build-header .explanation {
    padding: 30px 175px 30px 30px;
    min-height: 170px;
  }

  /* line 253, ../scss/_build-header.scss */
  .build-header .sb-logo {
    /* large logo */
    position: absolute;
    top: 50%;
    right: 30px;
    float: right;
    margin-top: -67px;
    width: 123px;
    height: 136px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* svg image still being applied */
  }

  /* line 267, ../scss/_build-header.scss */
  .no-svg .build-header .sb-logo,
  .no-js .build-header .sb-logo {
    /* large logo, mq support - png */
    background-image: url(../i/sb-logo.png);
  }

  /* line 271, ../scss/_build-header.scss */
  .build-header .posts, .build-header .deliverables {
    float: left;
    width: 50%;
    padding-bottom: 30px;
  }

  /* line 276, ../scss/_build-header.scss */
  .build-header .posts {
    padding-right: 9px;
  }

  /* line 279, ../scss/_build-header.scss */
  .build-header .deliverables {
    padding-left: 9px;
  }
}
/* largest styles for no-mq IE */
/* 2-column .explanation */
/* line 288, ../scss/_build-header.scss */
.lt-ie9 .build-header .explanation {
  padding: 30px 175px 30px 30px;
  min-height: 170px;
}

/* line 292, ../scss/_build-header.scss */
.lt-ie9 .build-header .sb-logo {
  /* large logo, no mq support */
  position: absolute;
  top: 80px;
  right: 30px;
  float: right;
  margin-top: -67px;
  width: 123px;
  height: 136px;
  background-image: url(../i/sb-logo.png);
  background-repeat: no-repeat;
}

/* line 304, ../scss/_build-header.scss */
.lt-ie9 .build-header .posts, .lt-ie9 .build-header .deliverables {
  float: left;
  width: 50%;
}

/* line 309, ../scss/_build-header.scss */
.lt-ie9 .build-header .build-header .date-list {
  display: block;
}

/* line 312, ../scss/_build-header.scss */
.lt-ie9 .build-header .build-header .dl-when {
  display: block;
}

/* line 315, ../scss/_build-header.scss */
.lt-ie9 .build-header .build-header .dl-what {
  display: block;
}
